    html {
      height: 100%;
    }
    body {
       width: 1000px;
       margin: 0 auto;
       padding-top: 5px;
       height: 100%;
    }

    header {
        position: relative;
        padding: 5px;
        /*display: block;*/
        width: 790px;
        height: 250px;
        overflow: hidden;
    }
    header:before {
        position: absolute;
        background-image: url("http://www.douglas-fir.net/images/code101/hyder-town-pano.jpg");
        content: ' ';
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    header h1 {
        position: relative;
        font-family: Verdana, Geneva, sans-serif;
        /*font-size: 20px;*/
        color: #3e32de;
        text-align: center;
        z-index: 2;
    }
    nav {
        font-size: 18px;
        float: left;
    }
    nav ul {
        background-color: #7994e0;
        height: 45px;
        width: 800px;
        padding: 0px;
        margin: 0 0 0 0;
        float: left;
        border-bottom: 1px solid #cccccc;
        list-style-type: none;
    }
    nav li {
        float: left;
        font-family: Verdana, Geneva, sans-serif;
        font-style: oblique;
    }
    nav li a {
        display: block;
        height: 25px;
        border-right: 1px solid #cccccc;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    nav a {
        color: black;
    }
      section {
        width: 770px;
        background-color: #dddde1;
        color: #525253;
        font-family: Verdana, Geneva, sans-serif;
        display: inline-block;
        float: left;
        padding: 15px;
    }
    aside {
        width: 17%;
        display: inline-block;
        float: right;
        vertical-align: top;
        background-color: #eeeeee;
        font-size: 18px;
        padding: 8px;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color: #3e32de;
        color:white;
        text-align:center;
        clear: both;
        padding:5px;
        display: block;
    }
    img {
        border:5px solid black;
        position:relative;
        padding:10px;
        margin:20px;
        height:140px;
        width:170px;
    }
    p {
        color:#525253;
        font-size:7px;
    }
    section li {
        color:#525253;
    }
    section a {
        color:#525253;
    }
    img {
        position:relative;
    }
    section {
        text-align:center;
    }
    ul {
        list-style-type:none;
    }







